@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body
{
    overflow: auto;
    background: #111;
    padding-bottom: 300px;
    overflow-x: hidden;
    color: #fff;
}
body:before
{
    content:'NIFTY.NFT';
    position : fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:16em;
    font-weight:700;
    color:transparent;
    -webkit-text-stroke: 1px #fff;
}
section{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section h2
{
    margin: left 200px;
    font-size: 4em;
    color: #fff;
    margin-bottom: 20px;
}
section .container
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
section:nth-child(even) .container
{
    flex-direction:row-reverse;
}
section .container .imgBx
{
    position: relative;
    width: 800px;
    height: 400px;
    height: hidden;
    box-shadow: 0 25px 35 px rgba(0,0,0,0.1);
}
section .container .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
section .container .content
{
    position: absolute;
    right: 0;
    margin-top: 200px;
    margin-bottom: 40px;
    padding: 40px;
    background: #333;
    z-index: 1;
    z-index: 1;
    max-width: 400px;
    color:fff;
    box-shadow: 0 25px 35px rgba(255, 255, 255, 0.1);
    border-bottom: 6px solid #fff;

}
section:nth-child(even) .container .content
{
    left: 0;
}
